<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="348" border="1">
       <tr>
      <td>Type</td>
      <td><label for="meetingtype"></label>
        <select name="meetingtype" id="meetingtype">
            <option>General meeting</option>
            <option>Committee</option>
      </select></td>
    </tr>
    <tr>
      <td width="81">Choose committee</td>
      <td width="251"><label for="choosecommittee"></label>
        <select name="choosecommittee" id="choosecommittee">
             {% for i in data %}
          <option value="{{ i.pk }}">{{ i.committee_name }}</option>
          {% endfor %}
      </select></td>
    </tr>
    <tr>
      <td>Meeting name</td>
      <td><label for="meetingname"></label>
      <input type="text" name="meetingname" id="meetingname" /></td>
    </tr>
    <tr>
      <td>Date</td>
      <td><label for="date"></label>
      <input type="date" name="date" id="date" /></td>
    </tr>
    <tr>
      <td>Time</td>
      <td><label for="date"></label>
      <input type="text" name="date2" id="date" /></td>
    </tr>

    <tr>
      <td>Url link</td>
      <td><label for="urllink"></label>
      <input type="text" name="urllink" id="urllink" /></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" name="meeting" id="meeting" value="ADD" /></td>
    </tr>
  </table>
</form>
</body>
</html>
